# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\20201111\jspstudy1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
